*{
	margin: 0px;
	padding: 0px;
}
#header{
	height: 133px;
}
#header .box1{
	height: 19px;
	background-color: #3d3d3d;
}
#header .box2{
	height: 114px;
}
#header .box2 h1{
	margin-top: 39px;
	margin-left: 254px;
	color: #f00;
	float: left;
}
#header .box2 .nav1{
	list-style: none;
	width: 567px;
	height: 23px;
	margin-left: 165px;
	margin-top: 48px;
	float: left;
}
#header .box2 .nav1 li{
     float: left;
     margin-left: 44px;
}
#header .box2 .nav1 li:hover{
	border-bottom: 2px solid #f00;
	color: #f00;
}
.clear{
	clear: both;
}
#banner{
	height: 225px;
	background-image: url(images/beijing1.jpg);
	background-repeat: repeat-x;

}
#banner .box3{
	height: 225px;
	overflow: hidden;
	float: left;
}
#banner .box3 h2{
	margin-left: 254px;
	margin-top: 38px;
}
#banner .box3 img{
	margin-left: 254px;
}
#banner .box4{
	float: left;
	width: 384px;
	height: 225px;

}
#banner .box4 img{
	position: relative;
	top: -8px;
}
#zhongjian1{
	height: 44px;
	background-image: url(images/beijing2.gif);
}
#zhongjian1 img{
	float: left;
}
#zhongjian1 .biaozhi{
	margin-left: 254px;
}
#zhongjian2{
	height: 328px;
}
.clear{
	clear: both;
}
#zhongjian2 .hezi1{
     height: 328px;
     width: 306px;
     margin-left: 254px;
     float: left;
}
#zhongjian2 .hezi1 p{
/*	float: left;*/
	margin-top: 39px;
	font-size: 20px;
}
#zhongjian2 .hezi1 img{
	width: 306px;
	margin-top:26px;
}
#zhongjian2 .hezi2{
	float: left;
	width: 318px;
	height: 328px;
}
#zhongjian2 .hezi2 p{
    margin-top: 39px;
	font-size: 20px;
}
#zhongjian2 .hezi2 img{
	width: 318px;
	margin-top: 26px;
}
#zhongjian2 .hezi3{
	width: 275px;
	height: 328px;
	float: left;
}
#zhongjian2 .hezi3 p{
	margin-top: 39px;
	font-size: 20px;
}
#zhongjian2 .hezi3 img{
	width: 275px;
	margin-top: 26px;
}
#footer{
	height: 54px;
	margin-top: 10px;
}
#footer .di1{
	margin-left: 254px;
	width: 308px;
	font-size: 12px;
	float: left;
}
#footer .di2{
	float: right;
	margin-right: 271px;
	font-size: 12px;
}