*{
	margin: 0px;
	padding: 0px;
}
#header{
	height: 143px;
	background-image: url(images/beijing.jpg);
}
/*#header .box5{
	width: 998px;
	height: 103px;
}*/
#header img{
	margin-left: 150px;
	float: left;
}
#header ul{
	list-style: none;
	float: left;
	margin-left: 42px;
	color: #fff;
	font-family:"MS Serif", "New York", serif;
}
#header ul li{
	margin-left: 28px;
	margin-top: 69px;
	float: left;
}
#header li:hover{
	color: #cc2600;
}
/*#clear{
	clear: both;
}*/
#banner{
	height: 348px;
	background-image: url(images/beijing1.jpg);
	overflow: hidden;
}
#banner .box4{
	width: 1000px;
	height: 348px;
	margin: 0px auto;
}
#banner .box{
	height: 348px;
	width: 588px;
	margin-left: 28px;
	float: left;
}
#banner .box p{
	margin-top: 65px;
	color: #fff;
	font-size: 27px;
}
#banner .box .wenzi1{
	margin-top: 22px;
}
#banner .box .tubiao{
	margin-top: 26px;
}
#banner .box1 {
	float: left;
	width: 350px;
	height: 348px;
	margin-bottom: 40px;
}
#banner .box1 img{
	/*padding-top: 40px;*/
	position: absolute;
	top:100px;
	right: 180px;
	/*top: -40px;*/
}
#zhongjian1{
	height: 260px;
	background-image: url(images/beijing2.jpg);
}
#zhongjian1 .box3{
	width: 1000px;
	height: 260px;
	margin: 0px auto;
}
#zhongjian1 .tupian1{
	float: left;
	margin-left: 28px;
	margin-top: 40px;
}
#zhongjian1 .tupian2{
	float: left;
	margin-left: 20px;
	margin-top: 40px;
}
#zhongjian1 .tupian3{
	float: left;
	margin-left: 20px;
	margin-top: 40px;
}
#zhongjian2{
	background-image: url(images/beijing2.jpg);
	overflow: hidden;
}
#zhongjian2 .box2{
	width: 640px;
	height: 315px;
	background-image: url(images/beijing2.jpg);
	margin-left: 133px;
	float: left;
}
#zhongjian2 .box2 p{
	color: #fff;
	width: 640px;
	font-size: 27px;
	margin-top: 12px;
	margin-left: 28px;
}
#zhongjian2 .box2 .box6{
	height: 156px;
	width: 640px;
	margin-left: 28px;
	margin-top: 22px;
	float: left;
}
#zhongjian2 .box2 .box6 .riqi1{
	float: left;
}
#zhongjian2 .box2 .clear{
	clear: both;
}
#zhongjian2 .box2 .tubiao1{
	margin-left: 108px;
	margin-top: 26px;
}
#zhongjian2 .box7{
	float: left;
	width: 401px;
	height: 315px;
	float: left;
    background-image: url(images/beijing2.jpg);
	margin-left: 70px;
}
#zhongjian2 .box7 p{
	background-image: url(images/beijing.jpg);
	width: 300px;
	height: 47px;
	color: #fff;
	font-size: 27px;
}
#zhongjian2 .box7 ul{
	list-style: none;
	margin-top: 12px;
}
#zhongjian2 .box7 ul li{
	color: #fff;
	margin-top: 20px;
	margin-left: 12px;
	list-style-image: url(images/sanjiao.gif);
}
#zhongjian3{
	height: 321px;
	background-image: url(images/beijing2.jpg);
    overflow: hidden;

}
#zhongjian3 .box9{
	width: 640px;
	height: 321px;
	margin-left: 133px;
	float: left;
	background-image: url(images/beijing2.jpg);

}
#zhongjian3 .box8{

	width: 640px;
	height: 198px;
}
#zhongjian3 .box8 .riqi2{
    margin-top: 30px;
    margin-left: 28px;
    float: left;
}

#zhongjian3 .box8 .tubiao2{
	margin-top: 30px;
	float: left;
}
#zhongjian3 .box9 .tubiao1{
	margin-left: 108px;
	margin-top: 26px;
}
#zhongjian3 .box10{
	float: left;
	width: 402px;
	height: 230px;
    background-image: url(images/beijing.jpg);
	margin-left: 70px;
	color: #fff;
}
#zhongjian3 .box10 p{
	margin-left: 19px;
	margin-top: 20px;
}
#zhongjian3 .box10 .haha{
	margin-top: 15px;
	margin-left: 19px;
}
#zhongjian3 .box10 ul{
	list-style: none;
	margin-left: 19px;
}
#zhongjian3 .box10 ul li{
	margin-top: 16px;
}
#footer{
	height: 150px;
	background-image: url(images/beijing.jpg);
	color: #fff;
	overflow: hidden;
}
#footer ul{
	list-style: none;
	text-align: center;
	margin-left: 277px;
	margin-top: 38px;
	float: left;


}
#footer ul li{
	margin-top: 11px;
}
#footer img{
	margin-left: 278px;
	margin-top: 50px;
	float: left;


}
